@font-face {
	font-family: 'nextfont';
	src: url('/assets/fonts/thenextfont-webfont.woff2') format('woff2'),
	url('/assets/fonts/thenextfont-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'timeburner';
	src: url('/assets/fonts/timeburnerbold-webfont.woff2') format('woff2'),
	url('/assets/fonts/timeburnerbold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

