body{
    margin: 0px;
}
.FullHeight{
    height: 100%;
}
.white{
    background-color: white;
}
.black{
    background-color: black;
}
.textWhite{
    color: white;
}
.textBlack{
    color: black;
}
.scroll{
    font-size: 56px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    text-align: center;
}
.navPoint{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4px;
}
#footerSection{
    padding: 10px;
}
#navPointContainer{
    position: fixed;
    width: auto;
    font-size: 60px;
    top: 50%;
    transform: translateY(-50%);
}
#fractavaNameText{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: nextfont;
    font-size: 96px;
	text-align: center;
	margin: 0;
}

.fade-enter-active /*, .fade-leave-active*/ {
  transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

