body {
    margin: 0px;
    padding: 0px !important;
    overflow: initial !important;
}
.FullHeight {
    height: 100%;
}
.white {
    background-color: white;
}
.black {
    background-color: black;
}
.textWhite {
    color: white;
}
.textBlack {
    color: black;
}
.scrollTriangle {
    font-size: 56px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    text-align: center;
}
#navPointContainer {
    position: fixed;
    width: auto;
    font-size: 60px;
    top: 50%;
    transform: translateY(-50%);
}
html.phone #navPointContainer {
    display: none;
}
.navPoint {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4px;
    font-size: 70px;
    transition: all .1s ease-in-out;
}
.navPoint:hover {
    transform: scale(1.2);
}
#footerSection {
    padding: 10px;
}
.fade-enter-active {
    transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
#accountContainer {
    position: absolute;
    top: 10px;
    right: 10px;
}
#accountLogin:hover, #accountRegister:hover {
    text-decoration: underline;
}

/* Buttons */
.buttonWhite, .buttonBlack {
    border-radius: 0px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border: none;
    border-radius: .3125em;
    transition: all .1s ease-in-out;
}
.buttonWhite {
    background: white;
    color: black;
}
.buttonBlack {
    background: white;
    border: 3px solid black;
    color: black;  
}
.buttonBlack:hover {
    background: black;
    color: white;  
}

/* Text Inputs */
.inputBlack, .inputWhite {
    outline: 0 none;
    border-top: none;
    border-left: none;
    border-right: none;
    height:34px;
    box-sizing: border-box;
    padding: 6px 4px;
    margin-bottom: 20px;
    transition: all .1s ease-in-out;
}
.inputBlack {
    background-color: black;
    border-bottom: 2px solid gray;
    color: gray;
}
.inputBlack:focus {
    outline: 0 none;
    border-bottom: 2px solid white;
    color: white;
}
.inputWhite {
    color: gray;
    background-color: white;
    border-bottom: 2px solid gray;
}
.inputWhite:focus {
    outline: 0 none;
    border-bottom: 2px solid black;
    color: black;
}

/* Swal */
.swal-popup .buttonBlack, .swal-popup .buttonWhite, .swal-popup .inputBlack , .swal-popup .inputWhite {
    width: 90%;
}
.swal-title {
    color: black !important;
}
.swal-close-button:hover {
    color: black !important;
}
