@import "fonts.css";

html {
    background-color: black;
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px !important;
    overflow: initial !important;
    height: 100%;
}
html:not(.loading) body {
    transition: opacity 0.5s ease;
    opacity: 1 !important;
}
#app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#app > div[id$='Container']:not(#navBarContainer):not(#accountContainer) {
    width: 100% !important;
}
.FullHeight {
    height: 100vh;
}
.white {
    background-color: white;
}
.black {
    background-color: black;
}
.textWhite {
    color: white;
}
.textBlack {
    color: black;
}
.textCentered {
    text-align: center;
}
.scrollTriangle {
    font-size: 56px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#footerSection {
    width:100%;
    font-family: timeburner;
    background-color: black;
    display: flex;
    flex-flow: column;
    align-items: center;
}
#footerSection a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

/* Buttons */
.button {
    border-radius: 0px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border: none;
    border-radius: .3125em;
    transition: all .1s ease-in-out;
    font-family: timeburner;
    outline: none;
    text-decoration: none;
}
.button * {
    text-decoration: none;
}
.button.whiteBackground {
    background: white;
}
.button.whiteHoverBackground:hover {
    background: white !important;
}
.button.blackBackground {
    background: black;
}
.button.blackHoverBackground:hover {
    background: black !important;
}
.button.transparentBackground {
    background: transparent;
}
.button.transparentHoverBackground:hover {
    background: transparent !important;
}
.button.whiteBorder {
    border: 3px solid white;
}
.button.whiteHoverBorder:hover {
    border: 3px solid white !important;
}
.button.blackBorder {
    border: 3px solid black;
}
.button.blackHoverBorder:hover {
    border: 3px solid black !important;
}
.button.transparentBorder {
    border: 3px solid transparent;
}
.button.transparentHoverBorder:hover {
    border: 3px solid transparent !important;
}
.button.blackText, .button.blackText * {
    color: black !important;
}
.button.blackHoverText:hover, .button.blackHoverText:hover * {
    color: black !important;
}
.button.whiteText, .button.whiteText * {
    color: white !important;
}
.button.whiteHoverText:hover, .button.whiteHoverText:hover * {
    color: white !important;
}
/* Text Inputs */
.inputBlack, .inputWhite {
    outline: 0 none;
    border-top: none;
    border-left: none;
    border-right: none;
    height:34px;
    box-sizing: border-box;
    padding: 6px 4px;
    margin-bottom: 20px;
    transition: all .1s ease-in-out;
    font-family: timeburner;
}
.inputBlack {
    background-color: black;
    border-bottom: 2px solid gray;
    color: gray;
}
.inputBlack:focus {
    outline: 0 none;
    border-bottom: 2px solid white;
    color: white;
}
.inputWhite {
    color: gray;
    background-color: white;
    border-bottom: 2px solid gray;
}
.inputWhite:focus {
    outline: 0 none;
    border-bottom: 2px solid black;
    color: black;
}
.inputBlack.invalidValue, .inputWhite.invalidValue {
    border-bottom: 2px solid red;
}

/* Swal */
.swal-popup .button, .swal-popup .inputBlack , .swal-popup .inputWhite {
    width: 90%;
    font-family: timeburner;
}
.swal-container {
    font-family: timeburner;
}
.swal-title {
    color: black !important;
}
.swal-close-button:hover {
    color: black !important;
}

/* Cookie Alert */
html.phone .cookieAlert {
    width: 100%;
    height: 100%;
}
html.phone .cookieAlert .swal2-content {
    font-size: 50px;
}
html.phone .cookieAlert .swal2-actions {
    width: 100%;
}
html.phone .cookieAlert .button {
    width: 50%;
}
html.phone .cookieAlertContainer {
    padding: 0;
}
#cookieAlert {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 3000;
    
}
html.mobile #cookieAlert {
    width: 100%;
    height: 40%;
}
#cookieAlertHeadline {
    text-align: center;
    margin-bottom: 20px;
    font-size: xx-large;
    font-family: timeburner;
}
#cookieAlert .button {
    width: 50%;
}
#cookieAlert .button:first-child {
    font-weight: bold;
}
html.phone #cookieAlert .button {
    width: 90% !important;
    height: 100px;
    font-size: xx-large;
}
html:not(.phone) #cookieAlert .button:not(:last-child) {
    margin-right: 10px;
}
html.phone #cookieAlert .button {
    margin-bottom: 10px;
}
#cookieAlertButtonConatainer {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}
html.phone #cookieAlertButtonConatainer {
    flex-flow: column;
    flex-wrap: nowrap;
    align-items: center;
}


/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}