<div id="settingsContainer">
    <!-- Cathegories: General, Security; Personalisation -->
    <div id="settings">
        <div id="settingsCategories">
            <div class="settingsCategorie" v-on:click="categorie = 'general'" v-bind:class="{ active:  categorie == 'general'}">
                <img src="sites/settings/assets/general.svg">
                <span>{{ lang["personalSettings"] }}</span>
            </div>
            <div class="settingsCategorie" v-on:click="categorie = 'personalization'" v-bind:class="{ active:  categorie == 'personalization'}">
                <img src="sites/settings/assets/personalization.svg">
                <span>{{ lang["personalizationSettings"] }}</span>
            </div>
            <div class="settingsCategorie" v-on:click="categorie = 'security'" v-bind:class="{ active:  categorie == 'security'}">
                <img src="sites/settings/assets/security.svg">
                <span>{{ lang["securitySettings"] }}</span>
            </div>
        </div>
        <div id="settingsContent">
            <div id="generalCategorieContent" class="settingsCategorieContent" v-show="categorie == 'general'">
                <span>Email: </span>
                <input type="email" id="emailSetting" v-model="email" placeholder="Email" class="inputBlack">
                <span>Vorname: </span>
                <input type="text" id="firstNameSetting" v-model="firstName" placeholder="Vorname" class="inputBlack">
                <span>Nachnahme: </span>
                <input type="text" id="lastNameSetting" v-model="lastName" placeholder="Nachname" class="inputBlack">
            </div>
            <div class="settingsCategorieContent" v-show="categorie == 'personalization'">
                <p>personalization</p>
            </div>
            <div class="settingsCategorieContent" v-show="categorie == 'security'">
                <p>security</p>
            </div>
        </div>
    </div>
</div>