@font-face{
    font-family: TimeBurner;
    src: url('https://fractava.com/elm/fonts/timeburnernormal.ttf');
}

@font-face{
    font-family: TimeBurnerBold;
    src: url('https://fractava.com/elm/fonts/timeburnerbold.ttf');
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    display: inline-block;
    top: 0;
	left: 0;
    width: 100%;
    background-color: #2d2d2d;
}

li {
    display: inline;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding:8px 16px;
    text-decoration: none;
}

.active {
    background-color: #CD0000;
}

li a:hover {
    color: #dddddd;
}

/*img {
    max-width: 100%;
    height: auto;
}*/

/*.container {
  position: relative;
  width: 25%;
}

.container p{
   margin: 0;
   position: absolute;                2 
   top: 50%;                          3 
   transform: translate(0, -50%)
}

.image {
  display: block;
  width: auto;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #CD0000;
  overflow: hidden;
  width: 50%;
  height: 0%;
  transition: .5s ease;
}
.bigcont {
  display: inline-block;
}
.image {
  float: left;
  width: 50%;
}
.imago {
  width: 25%;
}
.container:hover .overlay {
  height: 100%;
  width: 50%;
}*/

/*.text {
  white-space: nowrap; 
  color: white;
  font-size: 34px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}*/


body {
    background-color: #424242;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
}

.size{
	width: 100%;
	height: auto;
    background-color: #2d2d2d;
	
}

.size-hover {
/*position:relative;
transform: translate(0, -50%)
animation:animatebottom 0.2s}
@keyframes animatebottom{
from{bottom:-20px;opacity:0}
to{bottom:0;opacity:1}	*/
  position: relative;
  background-color: #CD0000;
}
