/* Disable Mobile Stuff*/
html.no-mobile #mobileSidenav {
    display: none;
}
html.no-mobile #openMobileSidenavDiv {
    display: none;
}

/* Nav Points */
#navPointContainer {
    position: fixed;
    width: auto;
    font-size: 60px;
    top: 50%;
    transform: translateY(-50%);
}
.navPoint {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 4px;
    font-size: 70px;
    font-family: nextfont;
    transition: all .1s ease-in-out;
}
.navPoint:hover {
    transform: scale(1.2);
}

/* Account Container*/
#accountContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: timeburner;
}

/*  Avatar */
#avatar {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}
#avatarImg {
    width: 5vw;
    border-radius: .3125em;
}
#avatarImg.pixelArt {
    image-rendering: pixelated;
}
#avatarDropdown {
  /*display: none;*/
  display: flex;
  background-color: white;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
  flex-flow: column;
  flex-wrap: wrap;
  border-radius: .3125em 0px .3125em .3125em;
  transition: all .1s ease-in-out;
  opacity: 0;
}
#avatar.active #avatarDropdown {
  opacity: 1;
}
#avatarDropdown span, #avatarDropdown button {
    padding: 12px 16px;
    margin-bottom: 3px;
}
#avatarDropdown button, #avatarDropdown a {
    width: 100%;
}
#avatar.active #avatarImg{
    border-radius: .3125em .3125em 0px 0px;
}

/* Navbar */
#navBarContainer {
    position: absolute;
    top: 10px;
    left: 5%;
    padding-top: 13px;
}
#navBarContainer .navBarItem {
    color: white;
    font-family: timeburner;
    margin-bottom: 3px solid transparent;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
    line-height: 1.3333333;
    font-size: 18px;
    text-decoration: none;
}
#navBarContainer .navBarItem:hover, #navBarContainer .navBarItem.router-link-active{
    border-bottom: 3px solid white;
}